<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community_next</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='style.css')}}"
    />
  </head>
  <div class="page">
    <h1>CommunityNext</h1>
    {%if not session.logged_in%}
    <a href="{{url_for('login')}}">login</a>
    {%else%}
    <a href="{{url_for('logout')}}">logout</a>
    {%endif%} {% for message in get_flashed_messages() %}
    <div class="flash">{{message}}</div>
    {%endfor%} {%block body%}{%endblock%}
  </div>
</html>
